@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', Arial, sans-serif;
    text-align: center;
    background-color: #f8f8f8;
}

header {
    background-color: #002b7f;
    color: white;
    padding: 10px 0;
    width: 100%;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
}

.header-text {
    text-align: center;
    flex-grow: 1;
}

.header-text h1 {
    margin: 0;
    font-size: 2rem;
}

.header-text h1 a {
    color: white; /* Ensures the link color is white */
    text-decoration: none;
}

.header-text p {
    margin: 5px 0 0 0;
    font-size: 0.8rem;
    color: white; /* Ensures the text color is white */
}

.header-text h1 a:hover {
    color: #00aaff; 
    text-decoration: none; 
}

.est {
    font-size: 0.8rem;
}

.intro h2 {
    font-size: 3rem;
    margin-top: 30px;
}

.chapter-list {
    list-style: none;
    padding: 0;
    margin-bottom: 100px;
}

.chapter-item {
    background-color: #002b7f;
    margin: 15px auto;
    padding: 15px;
    border-radius: 10px;
    max-width: 600px;
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
}

.chapter-item .chapter-number {
    background-color: #ffffff;
    color: #002b7f;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    margin-right: 15px;
}

.chapter-item .chapter-title {
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    flex-grow: 1;
}

.author-info {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin: 0 auto;
    padding: 15px;
    border-radius: 0px;
    max-width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    width: 100%;
}

.back-link {
    position: absolute;
    left: 20px;
}

.back-link a {
    color: #002b7f;
    text-decoration: none;
    font-size: 1rem;
}

.back-link a:hover {
    text-decoration: underline;
}

.author-info img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0 15px;
}

.author-info .author-text {
    text-align: left;
}

.author-info .author-text p {
    margin: 0;
}

.author-info .author-text strong {
    font-weight: bold;
}
